body {
    background-color: #31c48d;
	/* overflow-x: hidden; */
    margin: 0;
	overflow: auto;
	font-family: "Roboto", serif;
}

::-webkit-scrollbar-track {display: none;}
	
::-webkit-scrollbar {
	width: 0.625rem;
	border-radius: 0.313rem;
}

::-webkit-scrollbar:horizontal {display: none;}

::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 1.25rem;
}

/* .solid-scrollbar-thumb::-webkit-scrollbar-thumb {
	background: rgba(255,255,255,0.5);
	border-radius: 1.25rem;
} */



.navbar{
	width: 100%;
	background-color: #31c48d;
	position: sticky;
	/* top: 0.1px; */
	top: 0;
	box-shadow: 0rem 0.313rem 0.625rem rgba(0,0,0,0.3);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.625rem;
	z-index: 5;
}

.nav{
	display: flex;
	gap: 0.625rem;
	margin-right: 1.875rem;
	align-items: center;
	flex: end;

	position: relative;
}

.nav a{
	color: #fff;
	text-decoration: none;
	position: relative;
}

.nav a:hover{color: #fff;}

.nav a::before{
	content: "";
	position: absolute;
	display: block;
	width: 0;
	height: 2px;
	bottom: 0;
	left: 50%;
	background-color: #fff;
	/* transform: scaleX(0); */
	transform: translateX(-50%);
	transition: width 0.3s ease, let 0.3s ease;
}

nav a:hover::before {
	/* transform: scaleX(1); */
	width: 100%;
	left: 50%;
}

#heroimg1{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.quote{
	background-color: white;
	width: 100%;
	display: grid;
	justify-items: center;
	justify-content: center;
	/* -webkit-text-stroke-width: 0.016rem; */
	/* -webkit-text-stroke-color: rgb(121, 121, 121); */
}

.quote h1{
	margin-top: 2.5rem;
	color: #31c48d;
	font-size: 1.75rem;
	text-shadow: #31c48e85;
}

.quote h2{
	margin-bottom: 2.5rem;
	font-size: 1.5rem;
	font-weight: 400;
}

.client h2{
	color:white;
	font-size: 1.5rem;
	margin-top: 2.5rem;
	margin-bottom: 0.938rem;
}

.client-container{
	max-height: 25rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	justify-items: stretch;
}

#kenneth-box{
	margin: 3.125rem;
	font-size: 1.125rem;	
	/* justify-content: space-between;*/
	display: flex;
	flex-direction: row;
	text-align: center;
}

#ken-img img{border:2px solid white; border-radius: 5px;}

#ken-quote{
	background-color: #fff;
	margin-left: 5%;
	border-radius: 5px;
	width: 15rem;
	max-height: 18.75rem;
}

#ken-quote h3{color:#31c48d;}

#ken-quote em{text-align: justify; margin:10% 2%;}

#JJ-box{
	margin: 3.125rem;
	font-size: 1.125rem;	
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	text-align: center;
}

#JJ-img img{border:2px solid white; border-radius: 5px;}

#JJ-quote{
	background-color: #fff;
	margin-left: 5%;
	border-radius: 5px;
	width: 15rem;
	max-height: 18.75rem;
}

#JJ-quote h3{color:#31c48d;}

#JJ-quote em{text-align: justify;}

#Arabella-box{
	margin: 3.125rem;
	font-size: 1.125rem;	
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	text-align: center;
}

#Arabella-img img{border:2px solid white; border-radius: 5px;}

#Arabella-quote{
	background-color: #fff;
	margin-left: 5%;
	border-radius: 5px;
	width: 15rem;
	max-height: 18.75rem;
}

#Arabella-quote h3{color:#31c48d;}

#Arabella-quote em{text-align: justify;}

#heroimg2{
	width:100%;
	background-image: url(heroimg2.jpg);
	filter: blur(4px);
	-webkit-filter: blur(4px);
	height:100%;

	background-position: center;
	background-size: cover;
	position: relative;
	margin:5% 0;
	z-index: -1;
}

#herotxt p{
	/* font-size: 1rem;
	max-width: 20%;
	color: white;
	text-align: justify;
	 z-index: 1; 
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */

	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	color: white;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: absolute;
	top: 230%;
	left: 30%;
	transform: translate(-50%, -50%);
	/* z-index: 2; */
	width: 30%;
	padding: 20px;
	text-align: center;
}

#herotxt button{
	/* border: 0.125rem solid #31c48d;
	border-radius: 0.125rem;
	color:#31c48d;
	background-color: transparent;
	font-size: 1.25rem;
	z-index: 1; 
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */

	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	color: white;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	/* position: absolute; */
	top: 240%;
	left: 30%;
	transform: translate(-50%, -50%);
	/* z-index: 2; */
	width: 80%;
	padding: 20px;
	text-align: center;
}

.option-container{
	max-height: 25rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	justify-items: stretch;
	margin-bottom: 5%;
	font-weight: 400;
}

#Lesson-box{
	border: 1px solid white;
	border-radius: 5px;
	display: grid;
	background-color: #fff;
	justify-content: center;
	width: 20%;
}

#lesson-box img{border-radius: 5px;}

#Lesson-box em{
	margin: 10% 2%;
	text-align: center;
	justify-content: center;
}

#Lesson-box button{
	border:2px solid #31c48d;
	font-size: 1.25rem;
	background-color: #31c48d;
	color: white;
	margin-bottom: 5%;
	transition: all 0.3s;
}

#lesson-box button:hover{background-color: white; color:#31c48d;}

#lesson-box button:active{color:black; border:2px solid black;}

#Membership-box{
	border: 1px solid white;
	border-radius: 5px;
	display: grid;
	background-color: #fff;
	justify-content: center;
	width: 20%;
}

#Membership-box img{border-radius: 5px;}

#Membership-box em{
	margin: 10% 2%;
	text-align: center;
	justify-content: center;
}

#Membership-box button{
	border:2px solid #31c48d;
	font-size: 1.25rem;
	background-color: #31c48d;
	color: white;
	margin-bottom: 5%;
	transition: all 0.3s;
}

#Membership-box button:hover{background-color: white; color:#31c48d;}

#Membership-box button:active{color:black; border:2px solid black;}

#PT-box{
	border: 1px solid white;
	border-radius: 5px;
	display: grid;
	background-color: #fff;
	justify-content: center;
	width: 20%;
}

#PT-box img{border-radius: 5px;}

#PT-box em{
	margin: 10% 2%;
	text-align: center;
	justify-content: center;
}

#PT-box button{
	border:2px solid #31c48d;
	font-size: 1.25rem;
	background-color: #31c48d;
	color: white;
	margin-bottom: 5%;
	transition: all 0.3s;
}

#PT-box button:hover{background-color: white; color:#31c48d;}

#PT-box button:active{color:black; border:2px solid black;}

.FAQs{
	width: 95%;
	background-color: #fff;
	display: grid;
	margin: auto;
	margin-top: 1.875rem;
	margin-bottom: 1.875rem;
	border-radius: 0.75rem;
}

.Faqs h2{
	background-color: #31c48d;
	color: white;
	font-size: 2rem;
	text-decoration: wavy;
	width:8%;
	border-radius: 0.125rem;
}

.FAQs ul{
	display: flex;
	flex-direction: column;
}

.FAQs li{
	font-size: 20px;
	text-align: start;
}

.faq-button{
	border: none;
	border-radius: 1rem;
	color: white;
	background-color: #31c48d;
	margin-left: 95%;
	font-size: 1.25rem;
	margin-bottom: 1%;
	transition: all 0.5s;
}

.faq-button:hover{
	background-color: #6dc8a7;
}

.FAQ-header{
	margin-top: 3%;
	border-bottom: 2px solid black;
	width: 97%;
}

.FAQ-content{
	/* transition: all 2s; */
	font-size: 1.125rem;
	justify-items: stretch;
	justify-content: center;
	text-align: justify;
	max-width: 97%;
}

#help-button{
	border: 0.125rem solid #31c48d;
	background-color: #31c48d;
	color: white;
	width:15%;
	text-decoration: solid;
	font-size: 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	transition: all 0.3s;
}

#help-button:hover{background-color: transparent; color:#31c48d;}

#help-button:active{background-color: transparent;color:black; border:2px solid black;}

.bottom {
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	margin:0rem, 0.625rem;
}

.Additional h4{border-bottom:2px solid darkgrey;}

.Socials h4{border-bottom:2px solid darkgrey;}

.Policies h4{border-bottom:2px solid darkgrey;}

.Socials a{
	justify-content: space-between;
	text-decoration: none;
}

.socialimgs{
	margin-top: 25%;
}

.whiteBox {
	background-color: white;
	border: 0.063rem solid #ccc;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}






	
