body {
    background-color: #31c48d;
  }

img {
	display: flex;
	justify-content: center;
	align-items: center; 
}

.nav{
	float: right;
	display: flex;
	flex-direction: row;
	justify-content: right;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: flex-start; 
	margin: 0; 
}


