body {
    background-color: #31c48d;
    /* display: flex; */
    /* flex-direction: column; */
    /* min-height: 100vh; */
    margin: 0;
  }

.navbar{
	/* width: 100%; */
	background-color: #31c48d;
	position: sticky;
	top: 0.1px;
	box-shadow: 10px 10px 10px #31c48e00;
}

#logo {
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.nav{
	margin-top: -2.5%;
	width: max-content;
	display: flex;
	flex-wrap: nowrap;
	gap: 10px;
	float: right;
	flex-direction: row;
	justify-items: stretch; 
	margin-right: 30px;
}

#heroimg1{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.quote{
	display: grid;
	justify-items: stretch;
	justify-content: center;
	justify-items: center;
	margin: 30px;
}

.quote h2{
	color: #fff;
	text-decoration: underline;
}

.quote em{
	color: #fff;
	font-size: 20px;
}

h2{
	background-color: #fff;
	border-radius: 12px;
	width: 20%;
	display: flex;
	justify-items: stretch;
	justify-content: center;
	justify-items: center;
}

.client-container{
	max-height: 400px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	justify-items: stretch;
}

#kenneth-box{
	margin:50px;
}

#JJ-box{
	margin:50px;
}

#Arabella-box{
	margin:50px;
}

.option-container{
	max-height: 400px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	justify-items: stretch;
}


.bottom {
	display:flex;
	flex-direction: row;
	justify-content:center;
}

/*.whiteBox {
	background-color: FFFFFF;
	padding: 20px;
	border: 1px solid #ccc;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	margin-top: auto;
	z-index: 999;
	box-sizing: border-box;
}*/






	
